body{
	background-color: white;
}

#cajas{
	
display: inline;
}

.caja1{
	background-color: yellow;
	width: 20%;
	height: 60px;
	position: absolute;
	
}

.caja1 .laboratoria{
	font-size: 20px;
}

.caja2{
	background-color: red;
	width: 10%;
	height: 60px;
	position: relative;
	float: right;
	left: 53px;
	bottom: 60px;

}

.caja2 .es{
	font-size: 20px;
}

.caja3{
	background-color: yellow;
	width: 60%;
	height: 60px;
	position: relative;
	float: right;
	right: 200px;
	
}
.caja3 .transformacion{
	font-size: 20px;
}